# conda
cffi
Cython
cytoolz
datashape
jupyter
llvmlite
matplotlib
notebook>=5.0.0
numba
numpy>=1.16.0
Pillow
scikit-learn
scipy
Sphinx
statsmodels
toolz

# other dependencies
autopep8
chardet
coverage
jupyter_sphinx
jyquickhelper
matplotlib
numpy>=1.16
pandas_datareader
pycodestyle
pydata_sphinx_theme
pyensae
pylint>=2.4.2
pymyinstall
pyquickhelper>=1.10
pyspark
qgrid
sphinx
sphinxcontrib.imagesvg
sphinx_bootstrap_theme
wheel
yahoo_historical

