# conda
cffi
Cython
cytoolz
datashape
jupyter
llvmlite
matplotlib
nbconvert>=6.0.7,!=6.3.0,!=6.4.0,!=6.5.0
notebook>=5.0.0
numba
numpy>=1.16.0
Pillow
scikit-learn
scipy
Sphinx
statsmodels
toolz
wheel

# other dependencies
autopep8
chardet
coverage
jupyter_sphinx
jyquickhelper
pandas_datareader
pycodestyle
pydata_sphinx_theme
pyensae
pylint>=2.4.2
pymyinstall
pyquickhelper>=1.10.3585
pyquicksetup
pyspark
qgrid
sphinxcontrib.imagesvg
sphinx_bootstrap_theme
yahoo_historical

